@media (min-width: 992px) {
  .typo-line {
    padding-left: 140px;
    margin-bottom: 40px;
    position: relative;
  }
  .typo-line .category {
    transform: translateY(-50%);
    top: 50%;
    left: 0px;
    position: absolute;
  }
  .sidebar .nav > li.active-pro {
    position: absolute;
    width: 100%;
    bottom: 10px;
  }
}

#map {
  position: relative;
  width: 100%;
  height: calc(100% - 60px);
  margin-top: 70px;
}

.places-buttons .btn {
  margin-bottom: 30px;
}

.space-70 {
  height: 70px;
  display: block;
}

.tim-row {
  margin-bottom: 20px;
}

.tim-typo {
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
}

.tim-typo .tim-note {
  bottom: 10px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}

.tim-row {
  padding-top: 50px;
}

.tim-row h3 {
  margin-top: 0;
}

hr {
  margin: 10px -50px;
  border: 0;
  border-top: 1px solid #ccc;
}
input[type="text"] {
  
  padding: 10px;
  margin-top: 16px;
  border: 1px solid #ccc;
  padding-left: 20px;
  font-size: 16px;
  font-family: raleway;
  opacity: .6;
}
.text-field {
  /* max-width:300px;
    min-width:250px; */
  padding: 10px 50px;
  border: 2px solid gray;
  border-radius: 10px;
  font-family: raleway;
  background-color: #fff;
}
.text-field h2{
    font-size: 21px;
    margin-left: -33px;
    margin-top: 0px;
}
.text-field p{
    font-size: 16px;
    margin-left: -31px;
}
.text-field button{
  width: 30%;
  height: 45px;   
  background-color: #3b9b9c;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  cursor: pointer;
  margin-top: 17px;
}
.savebtn{
    background-color: #3b9b9c;
    margin-left: 12px;
    color: #fff
}

button {
  width: 40%;
  height: 45px;
  border: 1px solid;
  border-radius: 14px;
  background-color: #3b9b9c;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;  
  margin-left: 15px;
}
.hide_popup {
  display: none;
}
.show_popup {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.98;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #313131;
  overflow: auto;
  z-index: 1;
}

  div#popupContact{
     position: absolute; 
    left: 50%;
    top: 17%;
    margin-left: -202px;
    font-family: "Raleway", sans-serif;
  }
  .fa{
    font-size: x-large;
    position: absolute;
    margin-left: 297px;
  }
  .friendrow{
    display: flex;
  }
  #plus{
    margin-left: 50px;
  }
