*{
  margin: 0px;
  padding: 0px;
}
.logo-img{
  width:30%;
  height: 100%;
  padding:0px 0px 0px 10%;
 }
 
 .header{
  height : 100px;
  box-shadow: 5px 5px 5px;
  
 }
 .box{
  margin: 0 auto;
  text-align: center;
 }
.login-box{
  width: 28%;
  padding: 0;
  margin: 5% 0 0 36%;
  
}
.error-message{
  color: red;
  font-size: 16px;
  padding: 10px;
}
.success-message{
  color: green;
  font-size: 16;
  padding: 10px;
}
h1{
  font-size: 1.8em;
}
.btn-primary-outline {
  background-color: transparent;
  border-color: none;
  color : purple;
}
.submit{
  width: 70%;
  background-color: #9c27b0;
  color: #FFFFFF;
}