*{
  margin: 0px;
  padding: 0px;
}

h1{
  font-family: monospace;
  font-size: 30px;
  text-align: center;
}
input[type='email'],[type='password']{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.logo{
  width:30%;
  height: 100%;
  padding:0px 0px 0px 10%;
 }
 
 .header{
  height : 100px;
  box-shadow: 5px 5px 5px;
  /* background-color: rgb(183, 79, 218) */
 }
.container{
  display: grid;
  justify-content: center;
  padding-top: 50px;
}
.label{
  font-size: 24px;
  font-family: serif;
}
.query{
  padding-top: 20px;
  font-size: 20px;
  font-family: sans-serif;
}
.dashboard{
  display: flex;
  /* margin: 20px; */
  background-color:aliceblue;
 
}
.left-side{
  width: 20%;
  background-color: darkgray;
  height: 550px;
  
}
.right-side{
  width:80%;
}
.balance{
  display: flex;
  justify-content: space-around;
  background-color: goldenrod;
  height: 96px;
}
.block-1,.block-2, .block-3{
  margin-top:20px;
}
.error-message{
  color: red;
  font-size: 25px;
  padding: 10px;
}
.success-message{
  color: green;
  font-size: 30px;
  padding: 10px;
}