*{
  margin: 0px;
  padding: 0px;
}
.logo-img{
  width:30%;
  height: 100%;
  padding:0px 0px 0px 10%;
 }
 
 .header{
  height : 100px;
  box-shadow: 5px 5px 5px;
  
 }
.login-box{
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 35%;
  left: 50%;
  margin: -100px 0 0 -150px;
}
.error-message{
  color: red;
  font-size: 16px;
  padding: 10px;
}
.success-message{
  color: green;
  font-size: 16;
  padding: 10px;
}
h1{
  font-size: 1.8em;
}
